
<div class="nav">
    <a class="nav-link" href="~/Admin">
        <div class="sb-nav-link-icon"><i class="fas fa-home"></i></div>
        Trang chủ
    </a>
    <a class="nav-link" href="/Admin/User/Index">
        <div class="sb-nav-link-icon"><i class="fas fa-user"></i></div>
        Member
    </a>
    <a class="nav-link" href="/Admin/Author/Index">
        <div class="sb-nav-link-icon"><i class="fas fa-at"></i></div>
        Tác giả
    </a>
    <a class="nav-link" href="/Admin/Category/Index">
        <div class="sb-nav-link-icon"><i class="fas fa-bars"></i></div>
        Thể loại
    </a>
    <a class="nav-link" href="/Admin/Story/Index">
        <div class="sb-nav-link-icon"><i class="fas fa-file"></i></div>
        Truyện
    </a>
    <a class="nav-link" href="/Admin/Comment/Index">
        <div class="sb-nav-link-icon"><i class="fas fa-comment"></i></div>
        Bình luận
    </a>
</div>