
<hr>
<section class="footers bg-light pt-5 pb-3">
    <div class="container pt-5">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3 footers-one">
                <div class="footers-logo">
                    <img src="../assets/client/imageMainPage/logo-dai-hoc-hutech_012634748.jpg" alt="Logo" style="width:200px;">
                </div>
                <div class="footers-info mt-3">
                    <p>Website cập nhật truyện sớm nhất </p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 footers-two">
                <h5>Nhóm dịch truyện </h5>
                <ul class="list-unstyled">
                    <li><a href="maintenance.html">Search</a></li>
                    <li><a href="contact.html">Sell your Car</a></li>
                    <li><a href="about.html">Advertise with us</a></li>

                </ul>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 footers-three">
                <h5>Thông tin liên hệ </h5>
                <ul class="list-unstyled">
                    <li><a href="maintenance.html">fb.com/bluedino4701</a></li>
                    <li><a href="contact.html"> gmail: ducmanh4701@gmail.com</a></li>
                    <li><a href="about.html">Số điện thoại: 0377940093</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 footers-four">
                <h5>Liên kết </h5>
                <ul class="list-unstyled">
                    <li><a href="#">hutech.com.vn</a></li>
                    <li><a href="#">baothanhnien</a></li>
                    <li><a href="#">baodoibaohai</a></li>

                </ul>
            </div>
        </div>
    </div>
</section>