@model Model.EF.TacGia

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}

<head>
    <title>Cập nhật tác giả</title>
</head>

@using (Html.BeginForm("Edit", "Author", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id_TacGia)
    <div class="form-horizontal">
        <div class="card-header"><h3 class="text-center font-weight-light my-4 mt">Cập nhật tác giả</h3></div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="card-body">
            <div class="row mb-2 justify-content-center">
                <div class="col-md-8">
                    <div class="form-floating mb-3 mb-md-0">
                        @Html.TextBoxFor(model => model.Ten_TacGia, new { @class = "form-control", @autofocus = "autofocus", @placeholder = "Name" })
                        <label for="inputName">Tên tác giả</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="text-center">
                    <input type="submit" value="Cập nhật" class="btn btn-primary my-2" />
                </div>
            </div>
        </div>
    </div>
}

